
@font-face {
  font-family: 'AvenirLTStd-Medium';
  src: url('AvenirLTStd-Medium.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd-Medium';
  src:  url('AvenirLTStd-Medium.otf')  format('opentype'),
	     url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAADu0ABAAAAAAabAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABCQVNFAAA7ZAAAADQA
AAA0P2JPukZGVE0AADuYAAAAGgAAABw4sApbR0RFRgAANvgAAABAAAAASgUtA+pHUE9TAAA47AAA
AnYAAAY0/isWh0dTVUIAADc4AAABsQAAA75do2j4T1MvMgAAAeAAAABVAAAAYHr8EOJjbWFwAAAE
cAAAAgQAAAKCdtKVTWdhc3AAADbwAAAACAAAAAj//wADZ2x5ZgAACHQAACjeAABKYCfOOkhoZWFk
AAABbAAAADQAAAA2FfS28mhoZWEAAAGgAAAAIAAAACQHJQOFaG10eAAAAjgAAAI3AAAD+hM3JeZs
b2NhAAAGdAAAAgAAAAIAz+Ti0G1heHAAAAHAAAAAHgAAACABSABFbmFtZQAAMVQAAAPBAAAH2vmQ
b01wb3N0AAA1GAAAAdgAAAJx3FEv2HjaY2BkYGBgZHD0XnVTP57f5isDN/MLoAjDze07l8Lo/1H/
nrHwMM8BcjkYmECiAJTqDqh42mNgZGBg+vKfh+EEi8L/qP9RLDwMQBEU8A8AlX4GsHjaY2BkYGD4
z+DEwM4AAkxAzMgAEnMA8xkAJDEBjgAAeNpjYGI8xhTBwMrAwtQFpBkYvCE0YxyDEaMEAwMTNxsz
ExMQsTQwMKx3YFDwYoACRxcnVyCl8JuJ6ct/HoYTzHMYpYB8RpAc4y2mIyA5BhYAVFUNXgAAAHja
bZO9a5NRFMafc68atYLgR9PGVN8mSNOSmrbRIlWKLRlaSsSWDMV3EVoHJ6FC/wBBqE7i6ODqP+Eg
uootVRcFB6GawaFDUFH0+pzzvgmhNPDj3I/zcfOc80oL9pM66TXmXQZPXBn9JOcbOO+2UeH5Khkj
fbKFonuKWdtfRVFj5AFA/wJpkAsphZQiGSEVXZs/YzVHG2lhzEcou5cQt46YtuJ2sOBWuJ5G7I/a
PmZcLF9wxG3wPMPzR2j4PO013i+mVmPKGGRcD/Ncd+vht3/FvBvhn1sNP+gXMc+cvpk2Yv0bojrs
hm3mHGV8jTXUjjJPidpIuq5hF5P0+0g/XS9Qn5qeu6UkTv1kjfEvkJe1EPSOuXvcT5LBIV3LJjWo
o4TPfEMdA6x/q6N9GXMpp105/FEfrqdZ8z31ycsiCsxRMc2ovZ7xrimPUbWzO8iRPn2nvWsZVc3L
/UGen5H7GNB4P4tBco5kuY9M933wr8Mv64Vq2oX0hp2kj+Er+cbe+HYf9qLvMqu96CbpRWy6qe77
QH2HrBfsQzfaq7QX71Qb07/dh73ojC1h2O67sL6sJFZ7yXonmeuv/4Ap/wxDOkPax87MbOoch1Za
U2mST4ydIidIP/db5K17Y/NfczM4rLPlm9bfy21Ya7lD8n0M02+efrcPRDglVzBJLuF5uMm7rHxH
nncFzevv0Zb4PT3EWeqYcyPI6n9UX5uhGRT8MUzIXRx34/ymxjFBquQi73QuBPIfribNiwB42mNg
YGBmgGAZBkYgycBYA+QxgvksjAlAOoTBgYGVQYShjuE/oyGjE2MwYyJjBWMd4ySm40wnme4yr2Te
w3xAQURBSkFOQUlBTcFAwUrBRWGNorCikqKaop4SkxKbEr+SkJKokpSSnJK2kodSglKq6qnfTP//
A01XYFgANNWRMYgxAWhqLdDUY0BTb0BNFVaQUJBRUACbaonFVEGgqZJwU1OApjL+////8f9D/yf+
b/pf/D/9f+B/3/9W/9j/sf398Vf3r/RfiQfHHhx+cOjBwQf7Hmx9sPbBkge296/fP3n/2P39997c
e3nv4b0H9+7du33vxr0z9zbcm3lv2m0j1j+QkKE+YGRjgBvNyAQkmNAVAKOGhZWNnYOTi5uHl49f
QFBIWERUTFxCUkpaRlZOXkFRSVlFVU1dQ1NLW0dXT9/A0MjYxNTM3MLSytrG1s7ewdHJ2cXVzd3D
08vbx9fPPyAwKDgkNCw8IjIqOiY2Lj4hkaGtvbN78ox5ixctWbZ0+crVq9asXb9uw8bNW7ds27F9
z+69+x4WpaRmPq5YWJD9uizrZ8esb8W/fqeXv/v44cb3nJprK3Y1Jud9PfPjfW7tk6Sm1ulHj928
de/+7Ts7/xw8+eLls+d//z2qvPvgaUtPc29X/4SJfVOnMUyZM3f2obNXCi9cvFR19fI5AClR0I8A
AAAmACYAJgAmAEAAUgCCAMgBBgFOAVoBcgGKAagBvAHKAdgB6gH6AiwCPgJmAqICvgLoAxQDJgNu
A5gDtgPOA+AD9AQGBEIEnAS4BOwFGAVABVYFagWUBawFuAXYBfQGBAYiBjoGWgZ6BqQGyAcABxIH
LgdEB2QHgAeYB64HwAfQB+IH9ggCCBAISAhyCJYIwgjsCQ4JSAlqCYIJqgnACcwJ/goeCjwKaAqU
Cq4K7gsWCzgLSgtqC4ILpAu6C+4L/AwuDEwMTAxkDJYMvAz0DRoNLA2GDagN5g4gDjoOSg5YDpgO
pg7EDuAPBg8+D0wPbg+ID5oPvg/QD+4QChA6EHQQyhEGESgRShFwEaYR3BIUEjgSgBKeErwS3hMQ
EyQTOBNQE3gTqBPeFAQUKhRUFJIUzBTmFSIVRhVqFZIVyBXmFggWQhaAFr4XABdSF6QX+BhKGIoY
vBjuGSQZahl+GZIZqhnSGggaRhpqGo4athruGyYbShuCG6ob0hv+HDocZByQHM4c2hz0HQwdNB14
HboeBh44HloefB6yHsQe1h7kHvwfEB80H04fbh+CH7Qf1h/+IAwgGiAoIDYgRCBYIGwggCCWILQg
xiDuIU4hXiFuIX4hviH0Ih4iUCKKIsQi5CL8IxojKCM4I0ojbCPGI/okUCRyJI4kqiTUJQglMHja
vXwJfFNV1vg797VNN9qmaZou6ZKmSbpv2bovabq36b6QspRaoBRksywioiIioiCbuCEquAJ/ddRR
x+3TGYZxZTqKGzo6jjiDDh/jzPAxznz25Tv3vpc0SQv6/X//37+Q1zTvvnPOPfds95xzwwVy+AMX
yMsczwVxIVw4F8lxhXKNnFdoFCo5aMJAroAL/z4iHHvjiLATeo68cYS8PGmHWzmXcMoFwuQHnAty
BMK5OMI1uf7NvUuOI6wwjlPItXJishTFxgSl/WIoymAxGCzkuBAM30/Ope8NFDXh9sBJWMOekeEz
ZqPSiK89jgYHnLyIP2xMPF4UOCaRS+E4o1VrFl9GGXspteyltWplCnw7Rz1/LGb+mLpdPY6vqfdP
jseMv+PY5XgHf8RfcGQXpYHnElzHSAAfx2k4A5eH/FAWqWR6g1KWzCtjgmRKrTnNYE0GlTkPzCaL
1Sw3R4AyRqWsxD/1kLOxuTG/nZhq7JprBy17mttiHdnzlq/vKSw7ZLJX83GNbfUV5BxEJOTVFw6s
CmxsHKrTZZGLcfP6u5bJGoWtnweX5Tl2nA2qKswv5AI5netLPp+cQW5Eciqcr5bjoiUu6mNiiywm
fRrn97cCDKBbvG/x4n3xpV2lpV2Q6vVHt1BbDq/AZ3tGR/eMnqaflE6e9PoDfjWpTkF8lA/5rvPk
DTKB/NZxBRynU2kNEaBN05tNVjZ1Y1GsMkamshp1Jr02LQh5UEkUhgjkUqyxiBgevKE/f5F91boH
M7Ou7Ggf3Xvb7CuFLwv0GZb6NJ1BfzRRk6HoNHU+/PC8Euv63k1tOU35joHutiVte3Y/r83M1RfU
K+JMwvano2LTcxKMTRxwI3CSe5rJBqfAVXjaQY6jRABX4BrhBPIZkzIVWwsZ0mj5ZXltxfXle1rI
Z/qxF8bPPJVx4uL4n3A5uTgc/ydxvMpAV81gxYkE9UjjD/gMx/Fa6ID/g3gjqCxYVTKVzCAzWA1W
lRlm3aq8dcA6ONs6e6dyBzm+N782d13mhvWZawpqCvbSZ21cOhkgpYw2M5VllE2k3XbGceaMA4Lp
9cwZNoeN3Ifcajo3K8ruhz1ddauZuFP83BsQD2p6D/BZiL8I6p4e8R7TMW4T1ZbYND2ThEeYOgUx
DWNjONcpuIl8R58PQdmAm4TX66GafPiDkMAT1Kc01wUSiuusoPqkMFXyRVTSI0haHrHGJJOiSmKO
Sk0L15hmj882acKVRYt2LipSDoUmVs+rTgwVPoZh47yFTfn5TQvnGavG19TXrxmvyukcLisb7syB
BJFOJBeWIw+DOE4jR+4Z5RCxufjXvaRvfe3hyXI2huqaQD5EOeeMZrCYmVTJcIWYoAVFgkaZB2pH
vclYFzIace38oeuqy76BkUWQ0FpnrCw1hgzOXTSvamHJlxJv8lwXGLxMjquCZISCIPOI1lw0DbRM
mYxiE4SynbcwutRS0qGtLs8YbbOZDVVRw4mrm+ZurLXUNG8b6V2/M8Vc0FicVRwf0mMpsZbn6jQ1
9ivmFQ9EkbCR2gXL2qh9SsNLDM41lEqMxqwxg1FOl90g1/LQIbwHCeMjI0Pk4wPDcELI6TnwHQwL
B5FeXAf4Dp+Lp+uskVH9YjSheBolmmUK+Ej4ktdUXnH17WNN43ELtENl7XMdjc3B5LjzZ5GbJza3
2DVz2m0tHTpYQ2nR4tqGIEw5g8obRaUNYlpssSqIZDNg59MBmty+m7YvWbQjTffMPZ1bOju3oHk+
HzW+bNW11y0sHyyFRGFgc1fX5i7G2yy8/FlcTyPgHJWwAFKEI/CK8CeysqdrciezHxdgEuVKhRKc
z3EBIk7RbHqxHWI80wtSsDcGqsSxcPWJLS3lubarj11tyy1vEY6UG82llYX51SvKW1rLylod4WuG
q+dG8eG9dsfwsMPeG85Hza0ehsdz7DX5hVVVQmBTaaUdoLm4vIH5DbSdyIsJkRdGhVbigiQCfDTy
IQj5cXAGVkD0FCOEr+ExiRGSj4M/MPvMRUsa6PZzoiZuYZoIc9gv4aDb2RFR5+EL0T9SrXc/R7U/
hw1HGwBR4hPUlmSjLTFRnuuUOrNOGUgGJr8lsUL51Y5Puz5rfw5h2rhfkAF4SPKfGiX7ZyOxdNzk
t/CQo93BiXYpC2EZKSyFOVAZaNaxQXAcvvbAKnD9G06h/qRyGYhRazZVgrUy0E93IgEXK0giHIqG
5EoNrw2NDwmpyC2oDFo0a91A/6qs+tToq9h8TlSk58Wn8JqwZEVSRG5FZVFo38gVfY6sBo0243fi
PAmXg37nAuIN5WqQVOpYRPmw8p63zN1QsbEaJZckLmMEofoytbIqoxUeqXU0lHRoDvcEJuW037ni
ukePXdd0rbY968kFBz85fffO3+Q3dKYnpENAeXVly6bhrngSBV8vb+tYU6kzlgl/kQfHrWtbveVn
N245Zi5omfPJfXd/8sTmiisbMtOSq521o4daS9haopUl/4H6IKNraQQjaA0amQJZAVDcD/krG4Qn
60chfAshxyfLn3wSeKhjPnYQn2tgvkWF8QaHhoI5Vcke8UppuvQNiy+0gxcXrN1QPXvHsr03ljWV
WO/coa2ydiIEZ/9VmSRwpGHOErLyPaM1t0w4fTGqNK+yWrSF1Jc/ijxNxD9keeDmn1UVwWvT3N6c
3NWRPFi0Zu+u9WvsnWHpNSPFy470nTzctJWMVuizH75m/IH5FZFpeUnLHx585FQxm3cLXp5D+mcx
nULqRdeh5eWiueW1Lf/su7nDpDDO3z/n5quvPzZLV7bIRo4XtgzPzq7bNFJGxia/274ppaqlRE/p
pPzAuJBxUS6JL/4bhDeFO9F2PgXX4FTfd37llMbG4dgQr7HyQTRBh6FOeAnHfe4UTkpzfw7njq4I
LfGUvGCY4OGDWQu/mCzab3/i3YkHn5xtd6xdt+/gmmW2++A24XCy9qP77v9gTlPL4XXrD+l+zbnp
3O6mE7HjS4vXwSFYMTQk7EbTeRr0k+VgF152j+deEmMXOn5wiMoBfh7iOg934efRqGH4eQxdDtHg
V6LkDKmzS00JbQsj5kV35JoivoFPhSBjR35KWHursq+oRqLjbnw+XISLkhcCWtAigmAo2YoG+crb
hOfQOQgnoUj4hXAjczXScxw+FyjRr0TK65Cm/U6Pv+bpOkSy+wr8h/PT8vhP3nP7lwFf3D5E/lr9
VyrNZ0ncZDmpn3yRvjy8ed3DG+r85IykTbCVDG0Q1tKn6Gj2FJKB68PLcX2YDQ1I1UdZUmOjAphf
CoohNcKrExNgmxDizu/bd35f9AdQ+cEHwi+vOXz+8OHzTAYpPiuTQYUkgwRFMBtjJtQak3bwXzVz
C5TKgrk1d2+6C3mdXlHdXF2RLrxBVmLoRfGzuX6IOphALasmDSlwxwUGL3PDW4TRuz9878D+9/ta
37pq7/6Vy+/c29NzEoon3tk/96CWBD2wdtW9965Ye0iiqYvxT+mmicJTIAN9yBpyvLn+2aVuunT1
y0KEV6DYTRtwGpSPfyFtehrDxEo6hZaYUPGV9Dg5QPTomvaiEfNA4+JFjWrrUMV2myO6NrPRZmob
bDPtWNKwvsPeWm3JMSVnDLVqasv1nQ3qtNrMLIsqVdtZPrKuUFx3XDNiZHYMqdaiX9fK/3qGZJwh
Y07n5H5xjAP1abUoGygWNIIwU9HFHYjZMdT/XP/QgXMHUOIc7ddc0w5PC1Ub7r13Az6HnpIjG0XY
GmAyBRAm/HXFBPl4ifANCsVrpJqFgogD7Sn/uiR/PBtL/1H54yd+O3KAPLr8UXJg5OTCY+QoPvgW
sbBXObFNvkqfdwlT+qnFsCcRjDxow4AAnL/mhefWn4OATW+/A+NoUr6DKOFnwq1gFN7F5zDkJjRO
DaZxKtDnQA5EuHDN679ZI1yAPNgvvAlWYUx4T6QzFccXSjbILAZCGmUq7BWuRhpWwJ1OEoWM+85J
xzbivuMi7jtw/ioaEOKr8Qmn8wC/3jYZbuP8Y/VAsAJUCa/XQXUOTxJ+EBg+hHFSgmGmK2SUpzqd
TxywkQu2H7aJMDoghjSLsRnSr8Bpd3zQ8UH3kSMQA08JHbBAuF/CdSNccP2c4lJSwi9cW1REefce
xhgvSvss3PN1jXbfQY7v2sV0LRdjunfgT1wSlUiFgepJEsSotHqz2+mWMTeVFgEqbZrorjdamldf
cUVAB0+sK+rm377WVmZJLYn5vOCVRXU2GC2uH6z9u1mTnt7TautzxGSUx0TcNdjWVSzmA+wYv1rI
BbSPCZKFc8fszNErLZKZsDtJnNO47KablhU6E0jvzl78Ty4Ih3TZO5Yt3ZmtszfO2TNnzh42bzqH
T+Frqpng5QJUnqgBPrUX2esdvfb63Grb6uXbty9fBfdUmhc02Oeaq5u2X7n8NjcvSIqbNsC10HrF
IiqjnLhNWIqTJDgLKXFGZxz5SiJuMtyuy965dNmObB3Mm+xx00e4DIQbgDyOpj5Vp/EjLlap0zDF
JwHClvk1jaX2lpuXb711bPwqYQuoSZ2tquedckeDaQGd+N7FGZWt/aI+QStdaFGvjV4OMAmoLC5e
tKilX58UGpuUl7J0GdzmGFswKOsIMVmvdAjjnDTfKJKCdKnp2oOcLoG4NakAceZWaebmIMZTaqxI
yu3jt82paFwwp52PHzCObgfPCvXs6oHTQtaybb2tbfPq6zOzbx2VVqqpsb+/sYmtlR0vZ5HHMT6r
j77IJJKO6x7dY2kedlbklzXhgt+nzx90Cr+FuKqy9vYLIt10F/wiOSHG2RSKO85uca4QY/PTgp4s
kQJz4jrtimLjo7g40cJRpyxtwqYeJVHq0sy0uNDYyPRkpQRm8o+xKcVadUh3cG4+edwdt9M5/Bvn
ECpitxrRDRiUduc71/7+u+s/Q6Lj3v1IEOhuH2g8xT2MY6U4AdGgnIgw+CjkfRr7XMn4oKIXxgvc
1abhG7ObKT0kpK9kUV5sd+6zzuCY7JSrnRnlpgY43ZxYNpCV955wDoKTczNjbxcmv29r62iV8gyM
14gjxgvHJXkNp5t8WS3qgw6fF/dC0s7SzbAdTCd/vufUnj2nwEJlfY7wj4nduyd2i3qO+0YLk/kE
miv0YJf0XB7NtmYWk30GVcJHL3hUSThEjrlVidGkZjLr1lG5r45SSWVwqY5OMyC4oDbImG5CJF71
IdxI7/Wg6sTYJO/IjY0OSIjehlzSFQQtkN11Hp9Ro93Zi8/kTtmd5ACVO/Pg3uXnBWqph6dmaGu9
vkyTFxGlkev52oZV7RUDafbiMn2pLDoiKTyVpOXkxi5tugruMuer4yNiZ4UHyiCqvLKlWZ9XXJyS
FKaICAkJkAXLk/M19a1o112Iv47MZ5xQahE5BhFWJeLO41GDWXYKbDfwYclxmSq1OaNYHUlGR51w
2vFRYqJeHtEVpUwoSkv+p+OmmyQeILyzcJrKi5f1o6GAaBTgrK/ACHomMlAonJW0k8Ub8A3CCGJ+
nrrpd14f3blt6EUcfgcsFfRSTHIOx8wQCzx6YOFSsmr+erJo/t2D15JV+NRBGuLiSy+Guvg8wka/
f5ppv9VgVKEColuTBb322PhVq6489Nr4bbdN/v6xx34/+ZvfiDGQK4rRhDG5SsTH06mJC2Sd+PXo
DrJ1wZdqm70gNSwx0aCL4uH3wk5YPflao21WV5guk+XsODiGMHziAi3MEn6A1cLfIKkTyhwdwnEH
xZfhGoEC9OnpbF1QgmJpZoSXoQktox/oKzDuoGkrKxULKMg1klJ1WHyyAuISc1uyqki+VptPqjPJ
Z439d1bUyHiISLKk708vanS0bLVUOaosB8sbWPwRxO0n55lfRyfQ6HCQ8z/EiWuZhDToRBowriiq
AD3N1PCIUZ8NZtHLxxqV1AygtCb5k1Co1RZWZx6YAb+52lFtFvEPcWdIKWxAu8oB82faNBmNIFQ0
XRydYWrNuCu5ID3D1Jld35hogg2VA42NlQPpOjHPksa9C+dEG47RkzyaxptoW+ZKtYTP4XshmBx2
5xAaXU/DJMnAXXUSlU4LOlCauZdS9kZlLI2eedwMxsRCX1V2Wckyy/Da8RHL0vKaGGtnuc0OdwlH
SFFpdbDNFnrryMKtETZbYENZXKpwFPpChq4fpvxksfIE9RJUn4xKDeqQ6Fs9rhWeOnRRsC8aGhqf
qKkoKihthV2NF3p6LjSOzL2usr7A0dUq2iklN0xUZAQ9vgZXx6qibLGqZLExNNtMHa3MYNWbrLGS
VVWWFNZ3dtsLSwrxp6Swpq+rjr1PWrJvyZJ9JLu4oLCwoLiw9rFa9xB820bvLWHr7fpvKW6No/JJ
aTbgRVRAWj1haepzR4/K71n9wsgzv1j04vg98qNHX7SZ1TYwC8ehXHjbpjbbXmS0N7o6Ua4OSzkn
lCylKF0oX4eFQ/sFuh+qdK2E87iPyeaqmPUzMOvHK2NksX7mD22fVbLPvIEOCkoBmvrIA/iqJ64t
q6Sir7+iu2ZjX/2yhP6E4ayyiv6+iuGODZ1lC7e3NwcFRYWogtWkLV6bpCar88pJhj61SJfVXNSf
k9PW6SyvyHTkZKvz9dm12YsLcptaB4qEE/qkorCYyKjgiIBZoIssiFfpo2kccIp0YUD1Fuow7isJ
c0bMc3jeBRXotRbt39mVvKWJS0xPT4zTSL/FWpIa97YBbG+bwmFwYWF726BU8E5bYfTsDkI5aX3V
p8F0+rTwDoS2RV3RsHjdVaOtC8PblM76RodtUFj5jPDMM8Ib4pDTUNDYe+3iJde0N3d2NtmdEEdv
PkPz0HAYTCifiRQzGhCDGENW8lKIzpQvVinDYJ2IkTqYbCSuNadSrSvPSgpPTzWnawta2ottJFlb
FF+emQmP54AxN1OdGRNOQmPUmtwsc14FCVZFp+tSRDnOxy3Hr+FtLpDlNA0owilAr6rX9+yuXLN2
G7smfvxx5pNPZrIry0XuYDnLQNGPaMxkwCEUw0PCN286Ll//CPDwN5yL5ZJpXKrDvTbdaaOF1yrl
LG2GoiPjJMZ7Et7w0P7ivBVdYyUlKelpabpkYZ/E8rsYc3fB49ebS4OefeIJWLwuUG1RB4LwOzfD
/yFymOrRWaQ8mNwj0qYxQ7DwB3KPzcZ4YYRHYC7yX4yH/Kp0xv6N/f0blYX2wkI7CBsGBjYMvFBf
UFBfIPLRxhnJAMlBLkb6Vo54dCVi9egMiUUncviwY/9+4XuHQ7TjCaCBdsQZS5+yWqYla43KhGdy
deokHekJ7K62dTfs+AA0rQ9kpiYkpyYGlVRWllZVXC3tReMgEToRlo5RQBnJhGZa0cSturLbohO1
6vQkk7w7osNS1ZOVnpXvrNms7o4qS81dBL+3BSUWJOfG5OaVocUJJoElmaW2K2LM6WobYfgsxATJ
0r4TfbRl9Po7iIntO2msoWaxhlK0/lKEYXSHHTScpkGGk0UceelnyKtSkMGCjuhvKQyjazOJYnki
LlAu7VVpRCiHgMG1G8b+5Vi5CV4ea1+w7IdXeW5Sqq9x/4l+ZxW1bO4VbBKD/RhpvwBcoEvN/YVj
eyuVu1RDS1wyo0U0boEKfYZKb1MrKwpzknTWlqLSdzMiFaq0sPDofvS02sI8hisRNNwfkd80Jy/W
yO7pzbq+AVd0cWPesNBJ5SIJdXqhR6ZEiTJZpCB27f7Zs/fPnhgoKBgoIBPd27q6tqkKewoKembQ
TUC/Ys1nVwMYvZQT3vbWTqpjGtcfeA05w+pZbE+qwfVTSDUts1YWCCp0pYxg8uDx59srKxvJuHAV
PF8uNJnoDOaVgkr4m23eAy+99AA5kzqphhrPlHC1UxC+FuEHoa/WeOYOM4uvBpEdZGwJ9hfkySUM
pYdfwhetD2RofASbYadzUiFOs2dOxTPP6ScJPfk5m7INp3wDw7/qclownRWTl1cLXLdUjEePY+zD
6jAKozImAmQRgVL9QyU5kirqJC1SUPTLHynDQOqP12F4sabBb2Q1jUjfqgaP5tW/sqFjeSJ3dQOo
5l4WBtUQfxg1VOc9MB6iyu8LI9oXhhXjeK3V6A/mkcHm5sGVY16QhoZ2cVOwRhisFD96tGwTR7Mt
zDsbcOH9Aa8rkJkz1cVZ4emzCmR5mWpzvkIzheWp7AqVPCenXKlgeiPi2sxwKf2xzRRP+GO71ju+
mOJs6bRIw43rAMMVS7OS3rj0LMyQxaLYWmlGiuVm/JEtrMjMwj1bRVbmwvSCdPw/hfGNrtKSzKyS
YYpRpdHQ2Oh7ZOZ+lp9V0AzrVKUGtzoyGgMGw1vwhvAJKIW/gFG4UphYePcPCql2c+wYBMGIVJdS
s7pU4Ux1KYPHghq87Oqlq1XBgamiec13G1zTLY/NUL+CHGZ0VW4j3Kw8dT0raIl5ewvKmiitXhUo
QIn3qkIJHzJpZ9PhN1I5vdyzKOnez77IpJw9S875Pxvt+ywvSrjX4/Pdwi0BEEVbqiVaUN7c0uYF
hZtB2rwp2uQjaeKsNk8PaInra7y+i3TyYoXAKKeWYHCoT9J9kRV0v4brWegzjvJgaLWk3+K0ER5t
yClg46TsmEKa79CaKR2emqPrzzg+H+fIoxdXSdm8meY29ISf7sw0HaSTl+qXcrH6SvPpUzVMpbQj
yQYMvloaG2eoZO76FjpsUOQpZ0LHRama+bHNva6vo70JkzJ3nmqYQrQ2yby3uZkqkQ2KhiZQHhop
87U1nsoZ+R7NDQkO4EWLw4t1NGYnmVb6V9JoLt+/mvY1rptvRY3sZnb7x2DhavrDehPX1g8WTIMV
Ox0WiCvuDw6eEgXAHyQVBTfMEQZTPwN9M3HXH8PeGXhcEK3xQzjLh8vU1oq4NzPc8TTT4489egaJ
9Ee+w0s+/TDeOU1SffrIquiGSmpDs793ynrqA8upU8Xvvz/nfXwv/Zf69/7Iy6XeQS3t/RJtaAiI
203eIO2zWaJBNLPkSuGWxuF1+4R0WFs/f90+Y3bv3IkHtwx3Z3UvmHhw2zBRC4vLDq9bJnwBdxYf
XjcqnNXPHb3j/g9anXrn4nvv/6CdyjyrD+J6M8nxrxBSKfRUCc8xs+FbKSRXM9Pwo3BQAj1wJphZ
8YUD30yHEzsdjiR9HlDwvNvu+IPz2FkR3mb36vtDnGn1PeD3+Zglv5lf57/wRKxHIu3BtMLvqUhS
YzpVlaRG1bsy6e1TrF41aKWnMs42xibt4NDdvqXx3VJt/FH4gpafxRwvyUYjmUUhsLKzbxRslvwy
SxKK8bpSblfkzbH3j5eZ7ItuXqpLS0hsmb2gLSLKWGnL2wyTpX0tGUO95R2RJHTp3LFNIZ1B3U2t
7T1lRcWmhya/R/6yGiPSTWuMWT+5ykgd0eUqjftR1i5dbQRBjDX/L3HjelwO99N0hS6Ne/l03Lk/
GbfkMC+H3iyK9OUocMfHIg3HGA2lP33+M4TOlyPo7Axh9GWo2+AbV4s0vsVoLPhfUDlToHA5Ks97
6eqlqSMB0wMLN43nGY2FXNlPp3GmUP1yRH7oH7Zfho8H/ON4njOgL8uFP3GZnJErYd0vUvhNV1HK
F4J3vpBmppP5QEovU32rhnoTPle4v83WmdWUPbfy+pKGa5xzK7vMt1UV19YWt61cX1R7hakzPzlM
aNl5RWlmaU8PQMCGivqLWeU9LdaiggULBivNtthIc72lpK61VWuyl9bVpeW3VPRtaRHr9WpWr8/y
r9dHwmX2B95F/Kor090bA10m2xhY513lU9WvJ0W+e4L2sJuuYHV+XqzHsx6teFpNuHRFnkVYl6zK
j6IB8q/Mw7W7dv3vcFQBRl6XxNGKhsYfx3/ukvyWN47Uy+HQSRHZJdGAUbQo01BJPjJAwvUWw6Wl
1uzS2GaMli6JOspLKadx88aZYnzXe6z+f9x3z9Li7KYOgVb+3b0tFpSvZJ9xaNZbnCuo8abjTNKe
5X0cl8TG+e5ZWpzrJUPLRnv2LBiNsTrCj+xZWpxHvQ0OhfHWjHsWVmfnI7g4uoqgkrkryGIsp5cO
J3gy3Y+aVg4Mb107tmfPWFc2KRhamj/W2z77CVbiJhdyrPNeXHb93bsndheRvnmmPHNDnkNYy+rz
rC7P+i+OcTFc9iW6AuQzhdo+rQLTwuwkE7X3fg0EpNo30ObFebJ+MRYB+ncUUG3z7iqw0/X06Swg
E2z/8WNwcJW94WTQ9faFUz0NTux0OFIk6dPoECkJhB84cQ8jwjvmjs/94c3kVL2BR/g60SQT7l38
ELV6Oc4ACd9bU/sWf4wzSaU3xhhv+fTF9OE0SeVxz2LHPUscq9kqxG50ixuT9Js1nb/JcpLif+h1
PMveCh9J+XWey3T9gZTCP5HuREp1lbR/kc2wfwGZ6AeOnsmsaOit0tVW7RmbZ29Jb7HsGeuxgfqL
dHND781ntXOaKibS7fYFo7tLW9Jba/tHdxeC5qvEOU0msecMZf44ynzcJTobDDT96dPdcFAyJr4d
Dt+i3PwkeDSe94H3omR0fOE5/eAlXgKeOy3qAzJ3yjj5QWWWipfgvoVwk2mmeUbI+pnSlj5oLvoZ
MV9c302TEyL2WzC/FDtjxwVV0Bm6LgKRRf6dF2SzZMvtLvVU36BqWt+gPPoyfYNn+I+nGgeFjyHH
0/fDS7RSv8a64GagdiYlmoF6qxeb/GfBx81g96XeMDg91RtG2YufK6Re7lm0li8zW2mPmVJGu+Yb
G4c+/hjqflc1uxLuFV54efZLb4n93S5a3voH8od1xHmekbc4HE6HA7LwCiuFb9ucbcJGxk+Msvl7
EUcU60mkPdJU9dzpRa1cisr4e4Xi1z759FV4WTgNMcK5oYod9993u9N5/OCh12hWkUTdtXLNXhZ3
XuDXsV5CLT33paNxgYGd3hBVWgyWWcxgEMMEmRQOI4/5hGb7jbeURKf1F6+84ZYrN9TXrV24Qbi7
saHjC5CR2vKyFmfrvvY2e0/zzYXDc+I02tuuXLZjcHDLWE5px3vW7tkDDSNDLU3DC3BerL8a99ds
x/WjHdYKsXvoRxqt71vZ70BN+5F+a/LuLqZ3ROwLQ97mcqaf2BmWD4yOn9gg9oRIz0/rE3Ps8sQt
Yu5hMxfMpH0q+zBj6cKTjfBOvHpnJWbMJ4v908j/ENoVNNUpBSKjvRqphV+Js3A3VJNzEqFE7LVi
Pdg+MHgRhlfT1b9EEO7eKwzopLmC64JrJVGQCZoFBqV2Sp8riVVBDxd7+vtw0wGvb20K663IL9Kn
xiqTooL5qmUbEiO6i5tyMmLTk/JDFPB4o7CrrD6+ITwqOT4a7I076nrjWiILTCsYrveJicWPQbQr
QzTUSVLSSQoafcZIQlcrEu8h+nK9B+D6FJ9XklepfvPGZBAPSqXpddagko6SIHNA77Ze8mo6/tQ2
NFDbUkq6uOdYrws9xSat7F6LVl+gJ13SolFeR5NM7nPc14bSrr/omTar0dPqSMP+207EF+/Sch+h
R4/guBRgQm6yGoOUyPHXYw2mzBKYa2kJyI3fmaPNzahvajRn45wmSDWkYryE9k4+Q2zkHw7RdHn1
VABEXCeRJ/Pc8T0vnRcvGr3ujn580ehe6jVAe0QOkHdoxl46rejOehmVWnMlmGm7LZ2sCv98vbTl
6OYbDzmK9/1XRTfkDtXMX9NbdrGBNx9csPuV4zeNPFTIN5gzHlpl39B937qxozpzw/+zfoZgpDOf
RFCvCVo5SyzItUFEprVEW9lmXUMMjoge+dHAzISexAy+LWVW9hLYC78S3ptbnLICzGPCX+wdEL44
vDSJnQfg3oELkOCRpwtCOCQ4xPOCeI8/O3WPP/tDnOdeMZxEmfD0bRT3dNXR0/rT7qGkf4732Klt
ds+1kft86szz51Nnngk3ACfhSc/3AOBdDb6EugU9wOOFgqAjLzWOUhAtoZLGuTbCkwyXTMTmM261
9N0CwGldm9l5WdZlqHX33ci/OXHCeeLEJpLpePttx+RHoj/OxLE8jlXQnkmteBpDGk/bCL55DX+c
9LLpNQcUOZ591iGcdLzm7iv5GRwlCp++EnZMH+LodTGNNRa6/s3fyM5207P/nvPdAX6/f8kCZdB7
/wryCqnF/wglxvVlQDg5w/rZkjgDy0tVuc/lssPGNChioq2TPkjTx3o+4yRzr6U9TGK2JU0HBiCV
W+fPr7XPf6PZYtbrzKCnfwxtnX+t+Pdk4Lxt8+fba1Vmnd5sboUTQl0lvBKNn8yfvzXO0mzGz/X0
/dB8lfgXXLdtHoXxZquZAqicTKTfSAC4P0+EINa/InaWqd7w6ibD+2a8H+i5jyPG8W7lnkTWzYL2
w+n6A7QhJPc5+DahqRyeJ8cn1akMvgr3R7PQB9A8k5U1nmhlxiCWspMZWWzHMmIGo1WrrwCTVWPV
0DzT98rygUV7EkuUNh7yFI36U8Xz1IWFrc0dsz6V/x0CIFIunMu+tZcsaElfv6ZWo0uMCq75e76u
sKy7t0YWFZ+VUvuAKPNq17/gAz4UI9Y0KSLSG8yox1a5+7sWlOwUO69E3iN58IShdmNXV2BxfJNs
jr2y5h0oy82q+3iPPTXvYPoNCztn5RVWySDyunXzmh5+M725qRgOTxxav6iHnVGHDH4r28uq2Hdz
sJNe/if9Dm6E+o1vr1vBr1jnIOur1hPIAKfNJjwCB1gP6AgMCI/RF/f/yW7S7yr4L76dnSmnZ1A0
aXR1vM4Biwf3DGYTdQgyunZGTRHfPrk8MHjJrrZthWXFR4YeO3/+scfP3xE6tuP2JSGB8K8AGAj8
TXjYsprimtYPIe+jD++KeiMidHRpWMRxGcOZ5foeLvLxGPl6zjx5jtCzUwRi3UNByXC3MCxSNw4v
23/rprmLNs4u65UDjLU1dUN1f2h4S1FZTw15oLrkxAsvnd0xb/z2ipSwlGsOTa7cs1BXu9LR4GQ4
k/EyRt5HWaa9BGZcFqVOw+eBAd2DLPniwr8Js+DOW2RFsoDAPFkJuWdycWkDLFfdGq+8TsX6AF33
k4fJ66zTS8uOpmrpIpOHl/YJF3uXklvJ6slc8j59tXNM9u8nMTie9sah6addhhqlgldqSIzAg+wH
+ErY9+cfYNeCEuiH3ormAOFN4YUAcd1tGIUMQB+z8e7T5tDHfMOP6txP6a9Lcy0lNr6R9Y2jXOK+
X5EMKiMNzYjt8+aDzVG7NpAIAhAYRJ7nG3/Qwm/VxhLhjjBLeEh8WiifgdiLuBvIJ/BL1K08rpL6
MDGyntpxxKosVvorEGO+IKtbUnXatAheJn13hJ58Mqcqr8esyW00VDoH7aa+/NKEQktN9+T3EBan
UEXEhcTzKSlVmjxzGdwLivT0WG2AuUaXY7aCDhoHi6v0Obo5tfVzKkqqFdr+nwfJ5KFxoYm8QWuo
Lsip+CQiSZkRUFFQk2kUvw8j0jUIc/khluWTMXlWxkSjFXDnu2l/HKH97NQKzZ0VqdREp0ZkaZr0
yRGJ0Wp8H5+sr0zluytC4zK2O4RjvdvsxVFV4aqs6/tgdkfvwpRM0e7kcLcQHl5An1Dq7sw3TPXd
JRNVMjLFIoVpvjcC8AZ8mVbUoc7PLNOk5Ki0qqZseboinQ9UhSjCo0KSslTuu6lZceyuTqHlA9Rh
sdGhSVnwfPKwQpWmT0/KNYcGK4GfFRjC8+nbkhfQT3XJ+GmIgpCooBA+nfGkiMsGgURRnwvSd/1o
UCDE7wDSWGF3zt1P2L4T/tucnbP38ZpvgTPB5JBlt2WNYhivV4l9uRxBGEPiWf1coF+koAxU4a4B
/luowOhoLWznBTO8PfzH0j/WvExefVA6i2jC5ybdzynYlyaYdXS3UYIPVcB2fPC4YIU3yRB98BXy
yuRXrKfI4nqPhJG/oi4rRAlGbebptxTIeAW1HlYS9mb9iTfr198SEcCHB998SwQfMCsQhoTVsBNu
x82PXBetlwv/EM6ly7NCOXcfG9oklpGgexaN16k2mPF8H2x1Lhe/geKk70k/mmceZbo2+R/+x/7Y
9xrAlwxPvIhFMzP0m53CVh+49NyaP7j/AYMmmhAAAHjapVTNbhs3EB5JlgwjiJv4UjRACqJwb8pK
K1uBZAEBFDu2AzhIYAvoeX/oFaP9EbiUHB3SHnstemgvvfaQN+gL9NI+Rx+h936cpW0ITdOiWYLk
t8PhzDfkcIjoQe0J1aj6fqh5Dtfo09qfDtdps/7Q4QY9rAcOb9BO/WeHm7Tf+MLhFu003jq8ST9t
/ObwFn3S/NbhO/RZ83eHt2m31XH4Ht1tzR2+T1ut7+GxtrEFQm32bnGNvNqvDtdpu37X4QYd1L90
eIN269843KRp/ReHW7Tb+Mrhzdqg8Z3DW/R5M3H4DvWaPzq8TafNPxy+Rw9aE4fv007razqkgua0
Ik2KEpqSIUHv0H0a0gC97fCQ+ox71EXrAY0pxt6QJPAFLJTYKynDLOg55RRhVcO2HQNei8nDmt2Z
ogk6v/FZ8p/ELKG9vNG9ZeJ/gMkp9BV2SFgN2ULCo6AjjAswmYFXAOsRvClwk+iWxwl7ueaj1/jo
v/Ghw2K+0iqZGvFO+MPBsI1x2G+LXrfbE+O4CKW4WJVGZqV4nkeFnhc6MDL2hBinqTi3O0txLkup
l1bKRvw1I6dSxTINpU6kFkd6Ec2yoIymKpe5GJ94bEdXdvS1HUIASw5JcdBnNOErMSAt6DGOS9AL
DkHhMDKoL2WutDibiAsTi8d98ULGaoEFewUJdFIclsavTBZpAOAjeHvUQxrB1xE9pWeMbr1an5XH
R+u+fK/bG47GR0+fjSq3ZxM4fXTt8T/ZeN/Gl1A+5oy4pfYK2wVnRSW184gzXHOWVlKP9tBGnBEz
yAu4vIQ0hbuQdfbRfRzbAJ1eTo5FFcSrC9HtAnb90WGhpZV6e3ujLJjJwlx6qQp9b9/z+4P+R8S1
fpWKMzFAN/yKYn5h9nJmkBXg/XHZb9+RpDdYSaFZYnXJdlaQ2/OIWLdk0pbDFBYLaNpXYhPNWrPn
t8I7l04SMlPNNk7gOQTDNkeRsxXLxa5VlUNzyilXPbTzpJhhxBID/er/NTxr1o2Zm8FYMD/vJqlV
KQJhdBDLLNAzUVz+y5NqC/kmShelWsp0JVIVybyUsTBTXSySqThTeWFWcwkQ6kCvxEkWnrZFkMci
C1YCD17LROHJa2xSuYikNgHm1wutylhFRhV5yS80ZuoBB3LMF2O43NgQaRxrFeTiWC+MAk3iImRw
qAfUQbvi5nECVCXX4/KaYe368GlqzPyg07m6uvICW4q8qMg6lvv/sdbB9duLCTB7vD8D+mcfnVQm
QepNTZZ+qBytlx56X3G6LUd/AUtGixoAAAB42m3Nd5jPBQAG8M/37rhhr4a9M3P3k3MXlbuzklGR
ldHFyS85OnepJLI3RcheZT3Zh2xC2fWgpU1lF9K/4p770/s87/P5532eV4S83MkVcr/cudtAhEhR
CigoWoxYcQoprIiiiimuhJJKKa2MBzzoIQ8rq5zyKqioksqqqKqa6mqo6RG11FZHXfXU96gG4iXc
/W7oMY0kaixJssc10dQTnvSUZlKkStNcCy210trT2nhGW+2018GznvO8jjp5QWdddNVNdy/qoade
entJehBhuTHG2m22i8aZZrKFVlsRRJrkB6PNdNMtU80xwed+dsMia9z2r/8s86kjvrDOy/qYoa9j
MnzpqFOOO+GkS/o57StfW+8V/3jfN844q78rrpnoVWEDDPSaTEsM8rrBsgyRI9sbhrrsTW97yzDD
vWO7pUZ410jvueq6Hb71u/M22OiCP+z0p7984ju/BVHO+dFPfvW9X4ICQUHzbbLZVtsctEWuQ0Y5
YLy1Dttjr11BdBBjisVBrLlWmecjfwdxQSEf+8ACK003y4c+s8/+6JzMcHx8Sny+zfMMpSXn2TAl
39S0qBY5WYNi0/uFw4kJoaTk2Iwh2eGB6dkZfe8NQqGERvkm/w/DuI+sAAAAAf//AAJ42h3LQQ6A
IAxE0Q+agBsO5b00clfwFGj80mbSN4sSgGJ2/olkFhLBm20bhz65dKXp7kZuhn549Tr/+ADlIQkY
eNqNk88rRFEUx7/nvmdmSOKNGZomSbKwsNAkC1lIohS9sJQXjdQ0xMyKkL9A/gJ/hKWFv0Kxpt7a
3o/vPfdSY0xZzD33nPM533vueXcgAHpQwRWkljTqyNGTjc14FCXg8xNdzAsMQrujLwiQSZJaAxPV
42QXU7WD/QQVXecOj/fqWDhpHp1gmXVGa1299QKqWM+tTjnD84oYwQRmMI8lbGEbVdR93Q5rrL0i
B1Zc4wGp9Mus05B1b3dcXo7kRu7k0fhzTcnljefNrY/fs5si7/qCUzTQRA1n+hPGBjCIArPjmMYi
Ysb6NR7gCc94495GbF8hqTK5SX/PrObyet8I6Y9nV8sHVC5hzNO5P+l2zqkOtnBD/+QKHbniLz3h
XrSnEO/MrGp8pSX+wfiajwc6wbLOAqosnNZ3B3YNuA5rvTu32zNG71nWvv4i4hbCsPNx1eukYv2B
jmTcRhoS2bbvnm376lVq9vJdrrMiw1u+cgIRlfK6S3UX8vVGOttz0hHnaG1Ke6F+QW1KazX6cOmp
S0/Zf1OeJ9uvMaJzdlxOubza9OcNGZ5mfL/GdvkF4jBJHQAAAHjarZQ7TFNRGMf/vS0trS1QRHwB
kwuJxoEYAmE0CgYW3xgWQ5w0DkZcSXyvTdxINDaXqsSiJqQhmpQoxrSDgywOLVsHJgZ2Pf7OuSDG
EIVqf/nuPeee8z1Pv6OQpIS6dFiha5dvXlejInyRMbIroatXbthvCmasebw9ND4ym3F7o2rXoG7r
kR7LV1JZU5KPTCM5U9Mz3jMmr5dInvEcMo8UzWeVWG/SMFayjHxkGgm0amjV0KqhVdMse14hr/FZ
MF+xUGOUM8vsWGa2jL01IpvHSxHrIVXMFM+qe0bVqz71a0AVVeU1RGzk4VvhNTWrk2x9s2qWkBWk
YAqq99dqVuvWlSmbcTO+jX3+upRNxWRMRv/wI9sRM1Knru/qtkl5y12rW4+37SUTyLrHTJDxT5lk
br9O/a0SOz3XjVj5X0yayeB8NsRWnneFtaU/5WR31lXZFZMzOTf6Eoh9Wk9Bpf9Hnr9Hht6Emdis
uKuqv75iT7qy0774dT8xe2pTN3g6CmH1QETHwHZnr2J0aJ/idGm/dtGpA0ppCEI6Bw0ahUZdgoTG
IKknkNICJPUeklqEsMqQos+r3C3f9B0Lno7Q6c3YbYHdSkOSzu/UPu6+Lu3XIUi4OEIujrCLo8HF
EdNxaNMJSOkkNHHjDWLPxhfXKWjhFhvWAZ2GtM7AQZ2FVhf9Hp2Hdl2ADl2EvS4fz+UTcflEuUMf
EoPNKqanEFdWz/H7AlLctnk8zuoNXuY0j5e3kNY7FbFmqxB1VYjqAzTpE6RVgnZXkZirSKOrSJws
O8i4m5Po4QQ2bschYh0lojFiuaO7uqf7ekA8C9hdxEbVav8A4xhD2AAAAAEAAAAIAAAABAAOAAJp
ZGVvcm9tbgABbGF0bgAIAAYAAAAAAAEAAgAIAAwAAf9WAAEAAHjaY2BgYGQAgmOp20+B6J2qmh4w
GgBDxgVMAAA=) format('woff'), url('AvenirLTStd-Medium.ttf')  format('truetype'), url('AvenirLTStd-Medium.svg#AvenirLTStd-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}


