
@font-face {
  font-family: 'AvenirLTStd-Black';
  src: url('AvenirLTStd-Black.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd-Black';
  src:  url('AvenirLTStd-Black.otf')  format('opentype'),
	     url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAADscABAAAAAAaYgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABCQVNFAAA6zAAAADQA
AAA0P2JPukZGVE0AADsAAAAAGgAAABw4sAlPR0RFRgAANmAAAABAAAAASgUtA+pHUE9TAAA4VAAA
AnYAAAYq/KAW3kdTVUIAADagAAABsQAAA75do2j4T1MvMgAAAeAAAABZAAAAYHtyE0JjbWFwAAAE
hAAAAgQAAAKCdtKVTWdhc3AAADZYAAAACAAAAAj//wADZ2x5ZgAACIgAACgyAABKVGN3HiNoZWFk
AAABbAAAADQAAAA2Fl236WhoZWEAAAGgAAAAIAAAACQHjQPLaG10eAAAAjwAAAJHAAAD+isFHAJs
b2NhAAAGiAAAAgAAAAIAyp7dim1heHAAAAHAAAAAHgAAACABSABKbmFtZQAAMLwAAAPCAAAHxXal
J+Fwb3N0AAA0gAAAAdgAAAJx3FEv2HjaY2BkYGBgZHDcunznp3h+m68M3MwvgCIMN7fvYoLR/+P/
s7HkM+8EquNgAIsCAJ8qDhV42mNgZGBg+vKfh+EES///+P+GLPkMQBEU8A8ApMQHXnjaY2BkYGD4
z+DOwM4AAkxAzMgAEnMA8xkAJK4BkwAAeNpjYGK8y/SOgZWBhamLKYKBgcEbQjPGMRgxSjAwMHFz
MDMxARFLAwPDegcGBS8GKHB0cXJlUGBQ+M3E9OU/D8MJ5p0Mv4DCjCA5xmdMR4CUAgMLAKn3DzUA
AAB42m2Tv2uTQRjHn7t7jaVYxUQxqanEtKZBo03VqCi2VUEq1pKCjip06CQoCgEHhzoVRHQr5B9w
ErpIB0WcBAURdOkgDkKhQ0GESMSi5+e5vgmxNPDhudzz697ne2caEn7mChThlTy0XTJlq3IYdrhH
ssU25SC+a+a0lGC3+SZZW5cz7O2EDJwy8/4P8fvhLAxDDtKx3QcHYAjyIZ5calS1TrAlOeFyxC57
b+dk3D6XPH3HbU0m7ZRMuu71/+RdNA2/Zj+xn2F/QcbdEIzhr2GvYjV/RFKw1S6zfiPWrfi/5Iid
86vE9VPnvJ4Zu0v7G+ZgIr9IzT78F/jGgsZRo2DuSiJeV0wkh4j7zHl1fdLNSEX37TR+8kLteXwf
JY1NBF+J/uc4c8n/Yu3olafmdvkqZbX0n2nPvioTUIYBW/VfNIZ1gZ5vmU/WXJc9tleS8fwzYS/y
S+ZprMksfWfRJWLm2vuW9IR5R/4n+wPmccjPuvvSFRNxpr1h7psQ9fgfQQvVoQNT9O+oW8Z+gCW0
2dbSYSOcayxY1aKTdS1U40qY+yagZ1/QYuR/VCv9RuxLnU2Yf0uHjegdm5be4O8ELYJmqgla0i9J
rTX3m3MvhHop1bF9Z9ANTVbjnoth7pF/T+4RSLFuwmuo2+8yGHo8kEjvllsJ72uwBW+s1KaqdbkT
DblE3OXoieSISUJWnvmb+LptXtL4ilrX3SP+BnN4gW5NzjeBpnyjxqrW9o7kXL8MmzpvYJS4UTkK
x+C4vY2tSUIS/wA5xtF/AHjaY2BgYGaAYBkGRiDJwFgD5DGC+SyMCUA6hMGBgZVBhKGO4T+jIaMT
YzBjImMFYx3jJKbjTCeZ7jKvZN7DfEBBREFKQU5BSUFNwUDBSsFFYY2isKKSopqinhKTEpsSv5KQ
kqiSlJKckraSh1KCUqrqqd9M//8DTVdgWAA01ZExiDEBaGot0NRjQFNvQE0VVpBQkFFQAJtqicVU
QaCpknBTU4CmMv7////x/0P/J/5v+l/8P/1/4H/f/1b/2P+x/f3xV/ev9F+JB8ceHH5w6MHBB/se
bH2w9sGSB7b3r98/ef/Y/f333tx7ee/hvQf37t27fe/GvTP3NtybeW/abSPWP5CQoT5gZGOAG83I
BCSY0BUAo4aFlY2dg5OLm4eXj19AUEhYRFRMXEJSSlpGVk5eQVFJWUVVTV1DU0tbR1dP38DQyNjE
1MzcwtLK2sbWzt7B0cnZxdXN3cPTy9vH188/IDAoOCQ0LDwiMio6JjYuPiGRoa29s3vyjHmLFy1Z
tnT5ytWr1qxdv27Dxs1bt2zbsX3P7r37HhalpGY+rlhYkP26LOtnx6xvxb9+p5e/+/jhxvecmmsr
djUm53098+N9bu2TpKbW6UeP3bx17/7tOzv/HDz54uWz53//Paq8++BpS09zb1f/hIl9U6cxTJkz
d/ahs1cKL1y8VHX18jkAKVHQjwAAACYAJgAmACYAQABUAIQAzAEQAVYBZAF+AZgBtgHKAdgB5gH4
AggCMAJCAmwCqgLGAvQDHgMwA3IDmgO4A9ID5gP6BA4ERASeBLgE7gUUBTYFTAVgBYYFngWqBc4F
6AX4BhYGLgZOBmoGkga4BvAHAgcgBzYHVgdwB4YHnAeuB74H0AfiB/AH/gg0CFwIfgioCNII9gku
CVIJagmSCaoJtgnkCggKJgpQCnoKlgrKCuwLEgsmC0YLXguGC5oL2gvoDCgMVgxWDG4MngzCDPgN
Hg0wDYgNrg3sDh4OOg5KDlgOlA6iDsAO3A8CDzYPRA9qD4QPlg+6D8wP7hAKEDoQdhDIEP4RIBFC
EWgRnBHWEggSLhJ0EpISsBLSEwgTHBMwE0gTdBOeE9AT9hQcFEYUfhS8FNYVEBU2FVwVhBXCFeAV
/BY0FnAWrBbsFzoXjhfaGCgYahicGMwZABlIGVwZcBmIGbQZ8BosGlAadBqcGtIbDhsyG2oblhvC
G/IcNhxmHJAc2BzkHP4dFB1AHX4dwB3+HjQeVh52Hqgeuh7MHtoe8h8IHyYfRB9kH3gfph/MH/Qg
ACAMIBogKiA4IE4gZCB6IJAgrCC+IOYhOiFMIVwhbCGqIeYiDiI8InYisiLSIuojBiMSIyIjNCNU
I7Aj5CRGJGgkhCSgJMglACUqeNq1fAtcW1Xy8D3nAuENSUjCIwSSmwcQCIQkhPe7QCkFCrQVSlsK
lJaWPuwTrdL3Q2wrVRetxVZrV2vXqq2uj3V1de3276M+ttVaa9dVt9au6/anfl2tbrn55px7A0mA
6v/3+z5Cbm6Sc2bmzJmZM3NmThh/Bv7QVfxHhmUCmCAmlIlgGKtUK2XlWrlKirQhSCpHV38+wj/x
xhF+N2o68sYR/MfhcnQn4+I/cCF++EPGhVJ5zLgYzGxy/Yxy8QmAFQJQpZwU27MylVEBOpQ8KM2q
ycqqwSd4Izo/3EPuswA1ZqahI+h52kdC+tgAt02Kcvr4B/rgm1j+EnlCuzRozEG7OCaBYWxOziE8
bRL6VHD0yTk5iRye89VNbdKmNvU8dQc8R+/vlHZI32zpa3kT/oQXxPX1AR0sE+F6EuewSoCexKQD
JYpMlcRoUqg0SBEVIFFwDp3JqVQ5TBbksGc5HVJHgCJKgxOQIsthN5pQ1fa6ttTqtvKpO7pL9zcv
SmubXDt169yqYGV4WN10rZZVVhStNrEH1FGzyztXBVdUTFvrlDyujLmpumVlSAX/8M5IuzQmItDv
0KA0J14dyvgz/q7P2G34IsyJHMbMMSaGMRBuAjU6o8Fu1AF+ZWYWI3I4i3wCH7BIhdD1lYdWwj/S
O+ud8H/9S/r+GH2XiH7TxHe81LBqVUPjqlWNSdnZScnZ2ch4aNWqQ6v212dn12fz8/DH6cNmhvIl
xXUFf4fPMrFAA8wBkqg4UwCnMxIuUF7YKE0SlZOSpAJ2yE3hGIizZeLLv9n/Wl5D38J7ppckGzbM
vmnN5NxZk97LN+XVS25Xx6hzjHa05ORjZdOXzS/tVqaVZrS0NE/Pm6uZN+c7vYbLsqRp+EU7pLLk
GKOViCkzHR1hzlBZYeQgJdNFCaHfpbo6kQFfIJInV4WjKKVKYjJGOl9ZUFZYWLYADwzgC/ndR84f
6c73+xCd/JD2UUCfcKGPylSIYB6dKmWk5LaRPkMjXfjcD6mqMGqUhk4CDeFERpwqCaCRmJzQ0YEM
mzWbGxubpk1r2pq4GZ/oN89NWVGwcmnBEsvc9H7SN4+Jx3NxCcHndNgcNgXILEhW3pm+M2f6viWX
M2dIO6lrB/Mv5iAZp0puY6XVAy29wkARE8O8jCKQg3yHoC+K+AE5ensF2rJdPzPfMseJJmWJcpFN
1S7DrW/INex6Gz2AfyL9JSArLDKv4D+QsSHc9f9QfdS6ruJ0/D5InYphZPZCNlPDRoWzOguWRWZG
asMNOXNunZNjCHff7PgCpfa0t1empVW2t7tv0G18NnqD0lQAl6eBXwEMo5UCp0C5E3dP/2onVt/e
/vpwPm0Ds4sTAGcMaLbDUIhBozhdgASmRBCuCKRVWJFcKY226ZOs7KBke8/8DemWj1DugR+jZMlR
XEpmUsiiZUsXFM1MenGLwItEGEc8wEwBeXDYMn1BShRUsUGQQa1tmSC1FpY7Z11hM+jSJb9Vbmvr
uqMot7Byz9KObYr9kc3pVpnKrIlF5k11iSmGeN1NDZ3z8htD2cDZxV1LZ7UaGjKTVYnSQMxQHkbD
JRvGHEykROvQOpBNSqaadXASNJV/G2kPzZo1gB/c3Yde4Kv6dqPQq1dHaT7BqMncaiWialEaNUgg
EnE6iRz781+xqqQlO+5bO3ud6sEAuyk911aeWlkTiE9sWRK4fvHqHa3NepMl35LqlMWi7YQmDcC2
AOxIQh1ywyZ6XIiKkEw0H+gvj6oV7bfd98V9cWrNvv7izuLiTnxiWLK1vWf79p6Mlsz074d/aisq
aisi9BoAsFmYWxuCcSrQPKTjD+IA/kuc279l+FWQsnTAq4V5UDFaBkyKXLRhIv8FO+KwICcxZg5C
BTtyl7ft3W1FOcXlA6cHyotzigatNVb4D82eke28yYnD5syfPye3MRJLm0vbe3raS5ulOLLRoEtL
02nT0vhXDHa7wWi3k7Hr4JIJNNCx25yi+SJ0hIMuYYIQ8N05duheA8cSYeBY0DP0PehZxKimYS+N
y/LQO7TGrX7Ql+g26UvXSKLd7n5Ey5tpL6rr6PKIzjL1TAquxna6Qir84WFw4Gr+dVTAB2D7jtvw
bTtO9hHYecwAnoveFdZSOcyHPzzzsH74Ataj+r6+V+la5wXP6TDAw19RD8BeRz+njEAj8LJcP2Mp
2H6y/kBLu7OQHaNHAfEoQBzBOU5WFKNMSkyzsQ8Eb1vUttFRaXqMjujr1GydLDtaH5lozDQFL7x5
4eycpmyNKf4Po35AousKywCuYKYUSKRYFFEg806J8OoQPwJlddrCkTCFtkwiReEsUREuwP2ZyuZE
nxj1ac5JORmbDEFxnO2uNbft/e3G5VOXOh6effCLvx9oOdDN2UqsSpMJYXtNcf3Slno1DkQ9ybZK
R3Plhb+YVeqayavXH7ht4/0Fk2vPPHTgbPUD8/NnZyYGJSqz5lS3bs0h7ojLBZdLIP8SoJrhkA1x
Jq0EmSQIZW5E9qcL+H/noZiZM0CB8gcHUeyFCzAzVdBnFfQRVnUG/J1MDR5RiHDMsQo62pHXKhTo
aKhPLc2umJ5e15K57ebknO5FO1MK+/CJcP0UZ269DAfNneSoNytw8X2GpGr+y4eTzLV0nnWwdj8E
PFUSjR9ln4qyL5KYAHxXr3V686qV0+faNpnvqDl89uzhsk14aXvuxo72TTXzCgpPofpTmWR+CN0f
At0hQDlQbaNUAyBWKhjXqq+b71lduvx4T8c0vr8bnzA17Jqz9JE6bOdbz3V0CzYZqMIlFAYZt8L9
qEWf8y8hG/8OmolPDGwZGBgQ2yZD2yCPttJa9An/GjLxH0O7gQH+G3GMb8IYVcR7DBDHpaKjpYN1
cA785qbHyMheaF9a3NNxyy0dTUXr0SF+dzkZ3Kzesg1vbOBWEpxkjE+56RM8UQ6uVUMofWiI/ys4
r9dQ4HA+yuTfpeOpgOsXgj9C2lcMkZmGNfa/rivoOfg8itBE5tRtwUF/pOg5WdqcSTNvlt7FJscq
4iMCEcBNdjZMTW5o5GIM8mhzrBKdHOHXRbqOUPjIFoQ4JK0dQvJT/F/QjPP8Z9D1PDLyz/NbUT3/
tLtPCPTxF8eggOZaoOvUgDAHMEZ2IXwfQb+XwwPGyLHwkFZ98wg+9K8h/Ie1z2AAnIneHc7HCcOf
k6e7L/5qhD9kUZNyCPp9gNLw0Cn+bdIrCn0DHLrGBxK7CzqtgbkR7GRkVqIyMiDRbW51Z1H92bP8
0/ZbTt5yy8k/wFSc4p8+hc69sQHmQ7A/BF8r4AsUqNUmKqK0XAxSEIkDvZCgMP7nFQuXbsMnPvqY
/wYXH57eyIj2nq0DvOFE8g0KLbULicKyw4jo2Tq+8fGPzqPi85UVfN764+vXH+/tff3w/nfe2V+3
OQGj2uc2bHjOg44NQEcogSfQESCRA8soLcRfAWpkKKR+8rMv3Tu1Vc2lqW4Bmmq6w/gPURwshsUP
+4VxcQ2Eh3KQVxnQZiQ6SZZzEkf402V+dJX3o3YMSxfLihNMpfqciooc/dDq3W3LoiebUkqt1TOq
rQeWbcU7V6uiDfpYTiFXJ1dn3tzbfGuC3sRpUqISjXXOnlvpnIGNx05qo4ByDtYDTvrXt3DGW7BA
9w+fFGUCaHqQ+gZEXgMSjQ6Y2SjqFknxg/v4L4aGphUWTIPZnbrp4Yc3oWf4xtKZN5Wgo9AXXB78
igBfi6g8IRTPf3n8KXz8Mf4CdMlA71M3D/SCh3n5WpQ9lrYlDyJ77Punj9yM791zD167/707hzBo
Ep+LTvIWdBqk6WteSekkk3FakD+rnLWpnDYWcSHo2tcn7tvz8peIOXH0MFqBGq5d44/xdwIV/wCc
30CfISpDDNGgOLDS0h/4H/48eOBF/gdkQYP8jyiIX8SfBvhgj3GjaHMcgkMD/EIL+Eexin8I9Qyg
I/39/IwBQkspxA5REDvQNZkj7p0URbW0nMYXWobzW9heH1/bX4Kc6IGb+Q9WyDhwtgW+R7k6mUsC
DJWDzA5wHUAMteATLdd3CG3qwShWCz4W0C7nTJL6Z+9+dvey5WgmWsLfc+UK4YtrM7rq+j3FA1Sj
q3wounp7JuX587DOXxZjJgjdNs/fcpQYTyrX8a6riPgiccST0zrEFbTQ30bWWomJLBDxyMTpFIIs
oC5s6amaH6PPt9VYuOykCnt9w5bb5/Ub7jWr08sKJtdXQPwdEwYrYEZuQ+2tG3/8sCJGnWEWdKgM
/MBGfJWRUi8f5Mvm4d5yikhRLcsGAUfnrVsWpzfKcfHy4uLl+Cr/SvHeRct2WjTFKGVpefnScsIX
I9D+OdAud69twtJGwBHdQZ93xGZkFxdnmxM6ipes3Ldv5RJ0bKEBOhsWluy6uIvSxAFNNjdNCPjP
jToWKpvU7RRjWz+WN6Yv3nJrZ48Fh4pUDYcWayw7ly3aW4xKh98Q6cKELhwNdMkITIOw1NoFTmqJ
eptsWYRadH+3fmkeoat7HX8oqMBcfOwkciSlZz88Nc0G9PWvTjfbThizsshYYe7RehIMCjpsgznC
7kUuHhHR6+7oCDfV5tn1ErXCqFu2DC3tnZFanKsJWh+stUzt5e8WxxuJbUCbmtELmk5sDpnaAuQx
cqXK5ggQpwPbdu3c19xY3VRajqOnGBdvWdeRNzMKf1vRWVHRiS7xZf13Vd5WVJKVrk3YuazrPpii
V9uqqtqqBNl1ANIg4C/QDcuMTfAZYQAk1iKUc45BHDrZ1j1lEAVGJigdhkGY7KcT0tcu469eUcYl
KaVlOd8D3USEPgabybpXZrfP7Bw8aKuy2aqAklg8i9zZiF92xhVJ20dQzKPjBEstNYpd32loT4sJ
lClk0UE4VAQy/ENHd+DWIJk+Ro6+XS2CE8dhgXGI2J02MP4gs47BR1947eTLhzBQnfnqJ/x/fvhB
GLcTru9Ae9EvcA4SaRHgsFbgfyL9XEEZogKOA0+kdlAz8mLBlDWOASytti03WrufGCydNYhDNNEO
A7pUmmiZOfMM/zmKa1zCuxBSqswKwiOR1wBb5QHbi9kCxFFeU2DenHbrRNGY2EYUB27fpX37LvlT
Ddh4cRfIKcoSJV/QcTVuhL5Un1SjVNAJ4KRuKGVj1ekifsutTfxlHO4BkwOYNjdMsqc46ucTQY0c
0dExhgPmMwtFu00Hf9YNlPIK3UlhCrwi6q4AZQrHwKZBbJ2llXLxyY7YQHSptsX/jmBlhj35begX
DTbneejHjfrTGj/qtAvyRXhNKUOHWrVZSq0hpyTHkFQ2JaWvZFZqYbm9eoq9t6kXHZ+VHBUVqQiS
xxWYU0t1kaXzHZxCGRFdbKtvovQFAJ4NeA2joGuL4LQryLBBT+m+EdqwJTbNEpFcXD+vrW0QXeo9
aEkNvz2isuar3gHRz3PAPAahS4JfPGLZYLRRGpZqPA4aIxB8LBUJFOopEuIanwKwJCPrNvv2mwfX
4RX3vQqdnkPVfCxda/4L8l0B7cZZ348ef6gDNx5qwbPuP3rvfNwC/d5DVvqMRWX8y7T/NcBjh/6g
Z5zcRNZ3omiSwFcPHpvR+Nj+l44tWoH8vtiy5Qv++sGDQBcL9iwZ2pP4hg33c2s5KkIUO06+ECHV
GgpTcrOiOE5riggL+fDg7XgxCMbbJoM1KlK2LkIZp1WDf/EnVEJiCYBzGuDR9d9JnCV/rUJ3/QcI
Fq6h8MFzvQOfknWdCYe1vxPW7XRYbxV0WojaOsC+wF1WHswZFSUQDIjqWLjRgAh3dudUxSRpwsI0
STEVed1WpTrET8bFKhSxnMwvRK1MWVFV/YRSE+q/wj9UozxaXbkiVCELe1hrlkswRhK5WXswTKYI
JfgzXAHMk/gKXdNhQcjo68NXrkcLc+VBG9n3UgrYFQJBAWbksAlkFmKnw8IKlIf3OCtjTJrwcI1p
XNLwol9PWxfzLszhABMPb8hqbLLAvIQj6k2oNH5kenCkPq3eVCWJl6pkgXJ9hMz7LRromZHIhkmC
/GLk0aO3NL+gQ7noG3HvBCyrjOwggY26R0wvfIrO80Z8r7CrgJka11M4EfwfFaHG3yFu3dvo1j4n
FQJhhUkaDoE3yureuH5xfsfkNoPJlDpLN8+cn2qZNilgoHvRjrDS0sIuI8+bF2vjJ70OilNh7aK8
zgB5bXbvW9ocdGXO8lqYFTZFRltb29aV26Z0mjMKs4aGhlec7Kpsu7N8sbnKYe06uYLYOD0zB6fi
LqAzgWGKkNFO9pOzMlVOlUQZRXaYA3QmiUy0nnor/OVbyw6XwXXktmrKoilTFu21lh8ut+ZlwF+e
texImXCL8pfX1i6vFXzwC+L+A9kJoxSb4MISv5glGRS6JX3+8cdDH+x88bnBwede7Hww9PHH97dl
RLUhHQl/+U/bojLa9lPbnOGaBnL4iLjfBJKoEKQR5PER/uAgf5D6Q91YB2txBt0JHol4WBJC0Q04
n7jHSXckQXBZkkpIRzTNgv37gm0Jsabi1tbidIOzfnHek3kbAosNmsy00rrStJlFZXMdk9d93KUr
WcWFJkTg7iq1Vh0Tl8Kl1GQmVclSpxTO4PqKdFy0WslF602VaXOyUiY76zkbX5MelZyqdkaZpLGK
QOI7nMQWVAj0hlDfwb3SALU2j/sYLiNDy9mtT4iv2GLjtNZ0Tp/pfqW5EzXEv350byKB5G+QzdPJ
4kY2ZPx8ImN0ZU5wZ3nr4gVzKttD5oSWZljt5ho+8zyynz/Pn1q1/7P9+z9DqVMabpk9d2VNVW6R
M7tCK3x3Hl2+/Oijlx8FvqvQ46gCcMcQqyYf8e1Zb9/eQZx74P0lLK9OL9EkF5k1CTFmvd3ZNK2o
RTbbrE5CTxnM6SnxyYpQLFfrrelVU+5dIk+OSyDzL2MiEI/+wfjTfB8RVKc/vaLQVatmHTiApgov
jx49WvD11wX0KuRBdtN9Sn/wkB0QsEjR53wL1u/+cx//6o1zHH4jPA1hogQ/1iAFByqKpKU4Bdkz
KwQt5xhflqL+R2d1djdLUbJUocznd3kx8xG0rW9e6L7BQZTdxEbJU/h/+7AT9OYcrkOp+CmBJq0D
pfJP4Kfa2qgeqFEvWgV2gPpMskwxF6cTXM1Hqm22atuB3fPn756PTtnIu+3zyTvBvxnNCUVQiz2S
FWLJ3i3NDJ3BelTWt2ED/PPn6RYu8UWQFnXTfXXo5SQbhd4ZE4AS/QdznlqPu/xnT6lqidPtfBNp
m/fr5aYEVcCkScXZ6amxPbiJ5ptQHFoOsPTuXIlbQjwTJW4PB3N36aqzHSFLNQOT5pqTUjI7a+5R
LwlxlocnxCjRB01p2tSoFXlOfaYE++cYC0vXKDMzIhWBGPBoYGWoE2NRWNs1808dxXbqsBB/RU39
lWgPf8VEA2sfh0UaNujjsbCf4Lc8PBbEhLnWYSvgCSOrhKBwWuI5Sr/pWblxNbL0LNmKvmmZ1ll7
/Xn8z2GVkDtj/sR8i9aOzZ39ZzR39h+IK4bhjuwCSTK9+UK1ynk4WW9NbrEWFcakJZYmyqTyxML8
IBNnzdCkSxMjZYHxswkuPcwdh98icZ1cyIk935x7oA0+LZhSupqfyYj6uwbkPAi0bCRrojOCqRTk
S9U5OL/z/o4uZCpNTi5NwkVlTU1lk6ZNm6Q2GrNNRkEumQgc6NZPA1lUJMIVhVPF5J+hLzVe6gk6
Fuj6jL0ZX6T5KwVZ3bSwUsiFHBaYDIlBIJrkmvGpv/7PmpycHtzB28kYqml6eXotCnAxTdMf37Gj
VxwT/7U7qcyOwA9gNNQ6iXnBCcTYAGj2Uf7E+Ar0cA1FN8I4/u9jBTzEjdeP8QO8q8Vx2UiU5jMu
9CuEX04G/f7IoFVUF5ao94zVhVxfViDzhMrBOwUqMRPnikQ/gI9DswMGMGzhrLD9Im7bExcGlCFL
9HxQ04RJl+u/kHRhhfwFu53mL8K9Mhhkq8gnizGb7hy5Mxl4CdXbG8FgQcV9YAQSjR+Bgf42Dgyp
dyYF3H/OafMBg7j+osLtax/xBFVbOxZWvDc9HI23aQKJTClorA/cmLqgUrveZpKqI2ujF2kyUuXx
Hij+kTNNEaHvVyiILIl49lI8SiLFnpgmcBt80IX5ehGjuD4ax59w43yR4pQxsV44ZeJyYxxZ8bxw
9beWlLSWHNSkaDQpHnheKyGfl5FPNXQ9cn0HTDxH92jlNHct4dBopgYsM4uV/E9z/4RewyRJiXke
GflC6TODg2LqBsWKJRk0NxNJ80/p4+SfTOMbUHdJiU9iKiwg3tewZu045JusQmYvW9sQ/frdh0n2
ithCmnsCuQgRcwmjYwJR98hA8f8VdkjJWNjtREBv1BdE3LPvIJVv2hf/6NtX5t2XFUTbo3uRW6pF
AIJIg70UYOylPinnQ8EEouZJ1Z4xciYg+G6skGHXm4DxZ6CXFTIGYOWBPxVDU0XtF1hCfH+Y03le
7YAXFUPHRQ0Xhg/w3oF2s2g7MYslF8ZdMXTLqBKPjtV1DtrXw1hZ4HWcCHmCMVYMPT+OBo03LKA3
dCR/CVDl1McSpI6l++4j+cyLJ0+SBOa1/Hx3QhNclK4nz3V0D59ChV0oUUxsuvNCX9G51XhnxORj
Tc1okqxoPCszmjfDwx52hhVyaNSeUY30zaIRQ+2dSeuEmfLJpqESMhm/CAsWYYk3LASz6QPrmGCz
vWApx8IyCLPsAy5FmHJfkKLt9oKpG4e+sVz1hi8by1kfVM972nAR316KL45EaGMwTiB53mgDfKTQ
B+fvxpFHxBQzetyCc2m9mlM1UkhWPPvYE81Hn219+ljzk+iTuU89OePZo7OfPjbj9wJ/3mE1+Gd3
7YDKKaYqyD6BYEolciTYWQMSqpp0s2efPby5rdXZ0n728B1ts/egDEdFxy1oJ/9e1pSOW9iu+Q8c
PlXcaW2f/9DhU+XzUSiaotvQWfs3/hnjhs7pRMZJbhDmJFLMZntnB00gfh4Zwl3USvhmCV8X9iR/
ERaInwes76kl8YVlGwtLNQ4spyB+HuBy3NZmDEQifawIby/AUzNJ41E3gSh4oPhxjDXyxZU2jiiA
jaQ5SvYgE0is1EiWkhjUkUwlsaue2UpWJtphd448eGQ3m2bJFVIxSz60eDRL3vfRx4PozyRLLuwP
N0AgZiK9IrVkLKPerkMQHiPdLnSX3kgdiJlzR1dN/dZuS3qsKq9uSmFUqMmeZbBkY8S45jSvScER
y+q7bwu9NTA/p6CgL9moT3GkDV+iuk1zjbR+18Ak/5psI1l3bpxxvAmkbcKsI44QbN7/Hi9xW2+I
92WYiwnxovVj8ab+Grziunhj1EsFKb4Bdrct9cSf/avGPY57fENa3h1rbSema+uo4fUTaTtLabOS
fcFfQd1ELvUNSfyzj0ZOTN8tYzXTTaeL0plGska/TCf2dcNvSJ/ZwyufmLYebyedzi3rRN/TSnUI
5OR0b90jxyx62CKpfnm0nI6NAoPA6QxC/nknkNGeX9Dlzj6bSTr6TmfO7qr56qys+ky9LD2pQj61
Q7YfWYTENGpoqM3Lo3npvKlptrq6+gpDjk4RhFOzeJd1UZeYqzZC/Ery8qlj8vI39vi9E/YSrPX1
9/Obl3kl8ZHVy9lvkW+Zu2KX4C/THDzIPsnBx98oC0/D3Iky8fPAvPhm49GqgYH/JQ6yrE2Iww9M
iS+OiwMDPvATbwRf9LQmRIFMgs0Yg4ZYCj8Rz1mKh2jjjUYykQ5OhDrIR/18Sfh0jNJh1/PA3cvu
8yDu+MM5WA2TQbP87toV0ARxL9Ej/nAOPkXWSdLOLsYfL0G7ybSdd/zhHLxN4IvQeiT+OAntC2mt
wS/GH87BZ30GSGFZxo0/aF6d1YKsGEhmTEIzIG6OgidHnD9Si64a2bJ+beo6nblQu2vjyn33zStN
xLmORVU98Um3JpsGaX6bDSqz6bPae8v6D6BdK5bfFYsb0tPKLQnqisQkfpqQ7cZiDcYJ8JJSJqoM
GMfy+xYLaMfa+rH1Azh3xMizwnhpXZgQa/hUEhDN86wmyIH59aooQDOEdfQX4BDt8oSTCvPvBeek
GK94wlGOhSNqkScoxiUIiDc49/rqCU83Dl1jeeoJu2AsP73QnPKKUwRcZz3iFF9sE0ioJ0qrj6x6
4Xt13PxVHqPGc3EpzbfKSQW4VuHnU+2eh/X8/bYKm/v/276+h+ktOkpfKJxY18e4Cvu545YiNDZu
KRLjFqdEcD1jKwr2rZxTWZZemrNvZcukyeuPxBmziy8+FqvNLg6oKOtcsctallZaBibfMvmTI5Hl
Tv3sR8PLnQlU12jtA5X5uImqH2jg4lsB0SgaGd8qiE9Fm/Nr4JIgxhfuC6JR8oVbOwauZiK47oDG
F/TKUSM2BvrI/pEA/yzdPUqfkPKJAhxflC+PY/R8cVeNawNpvQaMU0n2Lser2KDcm6Bq42+UieNV
btS6Y0Jaf+Su5yP1ARPUHw1iaW2Kd/0Re45/JZ4bU4DEijSfpXu8lgmonohzE4zkizEMHG9U47HQ
XVuGLo3WlhH2w+cyse47jOT1JQ4n+U4hIdX1+flDp08j7UP2LXb0EP/Vi5teeECoESL1OihIrGsT
+iigj9SZnz+Yn3+tYGMBWvclXPkVYk31X6g/EkszoMJDZ8E0u0Z2hqmrh/eiQP4aSh3+d3X/6sq/
/Q5H8OW2tXfdtRbbyZ5jSuPO5sdeGuBb0aGeUz2iHWX7wV+MYbQk7jaIrqvggHg6tYxOKErMQ9QZ
YYOJ07G+qPTyvn2rllZV9Lp9D/7O5SUly4u3jJZTTpoEhm7yZOp2oMCy5WXlS4mzioVabIi7jcLJ
xhtXYxtoPRL3S0XZ/H3iRsMvFGefotqJhZoy4CtH1ucbV5WJFNywuIz/vWgQblRkdpriZsV9h2eZ
QCZKqEl07zxMINAjuxG++65eOxOh4/s/pLYaeB1EqsxHq6uRMCaPIms+XhiBu9iaPSjaMSzUZ9H6
7EjPCi0RxkihFj9bgCAUbOETYn/k+sa1Gufg90mVDVJwrFB7QtabIlJX56QrNp2BCIS+vTtXNqc5
J8suj0vQhmSu2CZTNrWWFjti4jguKAId7+IvzGyNXhtitl/tmrWsSXNziDGtEnC8hO3U3yQ1u6Jn
PlmUCNHJpDXZaJLQhhVodzcZpXXiegPkegv659LzCNCf5gaFypKs+pDZFmtwXWBnTW0XPpEh00yu
rADbYMEW5iytmfCqaNk4pnqF6ATWMt9BzCvUMvhEs097ZpG0Prkj5PrRFcm8A1RJGSYBuQ8J20h5
FRB5TO3MMheWJJVrHDHSuD2OlEyzqTkhpjZBSkrFXK/gXFRB7Qszzu552Dh75rkePhJ2PQA8OeOO
B1jxXHgXrBlbxCoDsc4AvCd8Ep8iMuB0jPKCFD5pHaOnzFTw7rkNz+3ec3RK9h7+y41tjQ3zq538
xSXsike3v/z6uln3ZLBLpk17r71/R/eC3yRMW/L/uobBD+hcimW0tpGTRqk4WKwBoAR446T7Dlrc
WR2+TbbbzxCzLcaAK7QR5s3oj2Dhf27Pjl+Dwub+t2LGD03BzeJZA4Z5GV0VamoKiN5dfbm3V/yc
vTz6OXtZ/NyEjiAk1GqQ2jBTy4Zq8bS113cQPMgRgi/xCXJUX8Blcm1CiBki3xvc3w/RrzGTCn0v
uOeJVp3JbWwqNKgYwSAmEH3aEkwcgXZBbCxgFLBCW8B5geKUCFi92g6NNqV5yXX0LCytIuTcNTfS
z155pf/Eia3op77Tp/t4CePVVk7OaHBilZ9Qo0Oe/3gN/vrJZeuzvd/1PksvpN9k5hj6HZYTamSi
rzx5wb0LFtyLosl1AVn7prh+Zh+k57Vppbrbq9f7vE6h6Xyk8nzJGD1kKv4DlETXZ37L8EURHqk5
S2fAA3fDcWux0ue97/f0NwTuXHD3ggV3S9JL09NLry64e+FCcp+RUXp9s8cbNS1xaCUtF54mH6Tv
9bj/wuN+eN/IbwogWjcWSutSxKoxd73Yo+4aFERqV5BSaFOESM2K2qNWBezFXNdnqArGSrawgd6H
KSUjtR6ICQaft1Q4/20gO2Emm5MjhboQ+XM09qCrvYST2CACBvWSUEOKSxss1fMSH4o/hfAXmn8l
91QaLfIOQ++DGntCOUYp6mkZfy9dPWV+7sIWSZgiQtPaFrMpRLb65tZEqTw0oOXrDOH8t+tHHM4G
gjdvJB4NPeJiN5G6Fuz0+MUE4l+wCqHmBZ3NrrlnZmsIsvpxIXp1aPf06qmLFiBkM9Uc7s2OM/w5
d0/LZImfga0MUitDrm3e3FU38/G5JqsT/XbftnmN1RRvEkpiX6UxqZJU1QinvcBLBDUbOeR3YC1q
Wfvenvb2PT24vaIdoySU39bGn0BD/FUUynfCk7xe/f9rK8nZwP+wdbR+jZyE0+rIJHgsZfR0qsLk
sBPrTw4ZR9m0mWzd8FL/wO6BqTusedlH2g5fuXL48Su/CV60667uIH/0kx+6yf9/QkN6SrJLas4i
y0dn7498Izx44eKQ8BMSRjibcw2nsfHgwSaJu6ZCbOAuOlDZhEHJiXPvFN1B5WJT/arbDz/UX9md
tmlezjQZQu111Z1IX6ANCCw228uduK8j/53n/nipdnH2mruz4gNj2ncN/6HoJmt8ztxSRxWp6QHk
e/FfQZZJ/YADQgaFQctakIkY9Lhvf/tPXoqal0vSAlj/pMBavHm4r24JMkRvVkl7Y2mtn+sA/hS/
RqssOan4cGjxpz3bP9veA1NUOXwTPkyewpk/FbTPgfZh9DyYnFQSahVyVqHFOcOfXv8eS/jjZ/6J
Vs+bjvKRbc5KP/6//Mcsrcv8Fs9FS4lOOYWT4xDO/wpd+xW1c2CbVuB1bC2hCSw5C0ovVyagLKcc
r/v3kgenqn6/RBKOQv2Ps7XX9eiFhOpq/pWEbDQpBv9LiGGtzDL8HXoP/NR0poT4RMLJMc+K2sIg
uPoLc4eFuTNwunB/iejIG/F3HWXpzVbLzJzSee3VzplmrJQog1WR0Yq4sEmzhr/BsdmauHh1doLZ
lo1+g8KiY6QxQbEoI9+QZLUhPZrWYS/Jye+omdqZm41jJKoguSTM32/u87rEBJNOn5eekvtuQGRI
XFAiyk8tMqTnCec969E2tpv419S7J8fZZYooiXsbnNS8YVrUZctE28JlUVq5OtJoasvQSdVSTWR8
ZLzOXM+xs1uDYvVb6vm352wvrZHODYkyrpmDCqbftIhLF3xjI7MaK9G7TDw5lSxU3huFwnviTGn8
VRoMTKBumckS5P2NH3yDLmXkTM8sy9EqTAqpNbohPThKHiaXKFCsLDFCbVZl5E5Pq8QREP6GBoQE
BvsrjaRZo8XdLCA6TC4Ljk9G71q6k3Ux0TFpljwc4BfkF4Iig0MMD6YtSoZYMxD7Yz+EYmJiLCNf
sxEBQX7kSA2TyShxGNYLZ/qE3/TRgqAIv/WjdaLDSbt+V3CZ/8lekLzzSMFXyN+GQ1pq+6euiW2d
2l+7kvLB5voOh+NNIIugLWnIYSA/mKCCaAMH82noDL8ObfXjDeiTrotNF1uO42ffqxP4Z4d+oe5+
cuhDfhiBRCnZ6APouAU6fsAnoXN4E+n4DHt8+M06Ad87OB//H9BtuSDZZEOA/BpBBFIRg+LE+X/t
OfX+kqa1YRI2KGRtb2iAX4gEtfFL0D3oHn7Rtxp1QtzXV9VxSWFUziEmwFNYhu65ceQ3U0ZPu6Hx
z/6hx8VTcPxe31OAo8fihs+NdyQQ6Cf4iii+OAGbdkIsfIoPfHKsbQzY/wtCNq+vAAB42qVUzW4b
NxAe/SZGkNRGD0GDtCCCHpWVVrYCKQICSHZsBXCQwHZ7LEDt0hKj/RG4lBxdcusrtJe+gN+gfYA+
QZ+l936cpe0abdMi1YLkp5nhzDfkDInoUeUFVaj8/VAJPK7Qw8rvHlepXn3ocY0eV7/1uE471R89
btBe7XOPm7RTSzy+Qz/Vf/Z4iz5rrDy+R180fvH4AX3d/NLjbbrf/M7jHbrb/ICIlfoWCLU4usMV
Ciq/elylu9X7HteoX33scZ2eVAuPGzSvXnrcpCe1icd3Kv3alf8t+qrxjcf3qNv43uMHNGn85vE2
PWqOPd6h7WZC+5TTkjZkSNOM5mRJ0CVGSAPqY7Q8HlCPcZc6+LpAI4qxd0oK+BQeCuxVlGIV9Ioy
iqA18O1mybqYAujczgSfoJPrmAX/U1gVrNfXtjdMwo8wmcBeY4eC1yl7mPEs6ADzCkwW4CXhPUI0
DW4Kw/E44ihXfMwtPuYvfGg/X26Mns2tuBThoD9oYR70WqLb6XTFKM6nSpxuCqvSQrzKotwscyOt
igMhRkkiTtzOQpyoQpm1k7KT8JaTidKxSqbKzJQRB2YVLVJZRHOdqUyMjgL2Y0o/5soPIYE1p6Q5
6WM64yuxIC3oGY5L0GtOQeMwUpivVaaNOD4TpzYWz3ritYr1CooxLiuBHY3zBHOInN0JD2iIEAdQ
v2R0E8yFKgM9hTbBGbuzpjDodAfD0cH45bCMdXyGSE/HiYwW9F8c/M2uN7A85BK4IfUWewWXQSl1
65BL2nBZltKAdvENuQQWkOeIdw5pAgZTttnDCHFOfQx6c3YoygTenopOB7ATDvdzo5w02N0dpnKh
cnseJHoaBntB2Ov3PjWp2xenue4khuWeibmfJPACshyk/1+tu65R9B6aBJYFtGv2s4HcHUbEtgWX
iuMwh8cclq4nXFk5b+7wNuhq5SVTZmrYxxEiT8GwxVlk7MVxcbrynXDXMuM8LbMuI2lmGLHEwr78
/w6RDdvGzM1izplfcF3CuhBSWCNjlUqzEPn5vzRQS6j3UbIq9FolG5HoSGWFioWdm3w1m4tjneV2
s1QAUyPNRhyl00lLyCwWqdwItLdRM40GN9ikMxEpYyXWdyuji1hHVudZwf0YM3XJiRzyxVh+XFyK
NIqNlpk4NCurQZP4ybE41OfUxnfBX8AFUD6wAT+mKXRXh09za5fP2+2Li4tAuocniPK07bh/irc2
rt9djMQa8P4U6J9jtBM1k0kwt2nyscfn9kND/HKLP3fEoCfKRvgDBI+C/QAAeNptzXeYzwUABvDP
9+64Ya+GvTNz95NzF5W7s5JRkZXRxckvOTp3qSSyN0XIXmU92YdsQtn1oKVNZRfSv+Ke+9P7PO/z
+ed9nleEvNzJFXK/3LnbQIRIUQooKFqMWHEKKayIoooproSSSimtjAc86CEPK6uc8iqoqJLKqqiq
mupqqOkRtdRWR1311PeoBuIl3P1u6DGNJGosSbLHNdHUE570lGZSpErTXAsttdLa09p4RlvttNfB
s57zvI46eUFnXXTVTXcv6qGnXnp7SXoQYbkxxtpttovGmWayhVZbEUSa5AejzXTTLVPNMcHnfnbD
Imvc9q//LPOpI76wzsv6mKGvYzJ86ahTjjvhpEv6Oe0rX1vvFf943zfOOKu/K66Z6FVhAwz0mkxL
DPK6wbIMkSPbG4a67E1ve8sww71ju6VGeNdI77nquh2+9bvzNtjogj/s9Ke/fOI7vwVRzvnRT371
vV+CAkFB822y2VbbHLRFrkNGOWC8tQ7bY69dQXQQY4rFQay5VpnnI38HcUEhH/vAAitNN8uHPrPP
/uiczHB8fEp8vs3zDKUl59kwJd/UtKgWOVmDYtP7hcOJCaGk5NiMIdnhgenZGX3vDUKhhEb5Jv8P
w7iPrAAAAAH//wACeNody0EOgCAMRNEPmoAbDuW9NHJX8BRo/NJm0jeLEoBidv6JZBYSwZttG4c+
uXSl6e5GboZ+ePU6//gA5SEJGHjajZPPK0RRFMe/575nZkjijRmaJkmysLDQJAtZSKIUvbCUF43U
NMTMipC/QP4Cf4Slhb9Csabe2t6P7z33UmNMWcw995zzOd977nl3IAB6UMEVpJY06sjRk43NeBQl
4PMTXcwLDEK7oy8IkEmSWgMT1eNkF1O1g/0EFV3nDo/36lg4aR6dYJl1RmtdvfUCqljPrU45w/OK
GMEEZjCPJWxhG1XUfd0Oa6y9IgdWXOMBqfTLrNOQdW93XF6O5Ebu5NH4c03J5Y3nza2P37ObIu/6
glM00EQNZ/oTxgYwiAKz45jGImLG+jUe4AnPeOPeRmxfIakyuUl/z6zm8nrfCOmPZ1fLB1QuYczT
uT/pds6pDrZwQ//kCh254i894V60pxDvzKxqfKUl/sH4mo8HOsGyzgKqLJzWdwd2DbgOa707t9sz
Ru9Z1r7+IuIWwrDzcdXrpGL9gY5k3EYaEtm2755t++pVavbyXa6zIsNbvnICEZXyukt1F/L1Rjrb
c9IR52htSnuhfkFtSms1+nDpqUtP2X9TnifbrzGic3ZcTrm82vTnDRmeZny/xnb5BeIwSR0AAAB4
2qWUTUhUYRSG35nRGWeaUcfM/tRVGyFqISGKyyiFNv2a4aZFq6KFRNug/1Uw0CIiiOSqNTiBJIMU
KCmEs2nhxsWdpeBuFm5a1en5vhmLSEyneTj3zv3uPee853w/ikhKqVvHFbl1/c5tNamBEZnJvYnc
vDHuxlR94l2UexSPOZ5e+m/j6tCQxvVQz/RcaU3YVwXYJDZlG5rmnreCZrCCrWgOm8cWbFUrtk6s
Ca4BNolNYdNY3kI8QjxCFb1HSDb3dsbWeFrDfxMl80RdsEXUhDbLteyvcfWpXwMaVKiyoo0ppzR2
N7apFnVRXWChLdmGJ7Ci6v21WaVuX1nJ7tm9XXwX1KyE6tx/qPWxbMRG6vYNrOJwdUNp268q2//f
dZZc1WoZc47fo3TslR8NrMDM76x2T53a0sq6qM2K8/dWcp3nHtoqaza1Q4xifbPjV2FQXRM1Wydb
xany/f7HrOxutf3ll6v2udpbe/HrOe9n+pvl91hF8Y9uRtWuHojqJMTUCw06BW539inBDu1Xkl06
oH3s1EFlNAwRXYZGjUKTrkFKY5DWa8hoEdL6DGktQ0wlyLDPy2rWd/0gQlQn2OktxG2F/cpCmp3f
pUOcdd06rGOQ8joiXkfM62j0OhI6De06AxmdhWZOuCHiOX1JnYMjOg+tugBZXYSjugRtXv0BXYEO
jUCnrsJBX0/U19Pg64nrvp6iwVWV0BtIakJvyfsOMsqrQMb3miXXB2jlzJ0n10fI6pMWiOl6Efe9
iGsJmvUFslqBDt+XhO9Lk+9Lklo7qbuH+ehlHrbOyGEUj6JrDEUPOMcf6bGeoGqRuMvEKDvvn6Av
QKcAAAABAAAACAAAAAQADgACaWRlb3JvbW4AAWxhdG4ACAAGAAAAAAABAAIACAAMAAH/VgABAAB4
2mNgYGBkAIJjqdtPgeidqhqHYDQASH4GPgAA) format('woff'), url('AvenirLTStd-Black.ttf')  format('truetype'), url('AvenirLTStd-Black.svg#AvenirLTStd-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}


